@charset 'utf-8';

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,fieldset,legend,img{margin:0;padding:0;}

body{font-size:16px;font-family:"微软雅黑";}

ul,ol,dl,li{list-style:none;}

i,em{font-style:normal;}

b,strong{font-weight:normal;}

u,a{text-decoration:none;}
/*超链接字体默认颜色*/
a{color:#000;}
/*将标题字体设置为默认*/
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}

form input{border:0;outline:none;}

img{display:block;}